# Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# macOS

## General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[]

## Resource forks
._*

## Files and directories that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.com.apple.timemachine.supported
.PKInstallSandboxManager
.PKInstallSandboxManager-SystemSoftware
.hotfiles.btree
.vol
.file
.disk_label*
lost+found
.HFS+ Private Directory Data[]

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Quota system
.quota.group
.quota.user
.quota.ops.group
.quota.ops.user

## TimeMachine
Backups.backupdb
.MobileBackups
.MobileBackups.trash
MobileBackups.trash
tmbootpicker.efi

# Custom

## Google
Scrabbdict/GoogleService-Info.plist

## Dictionaries
Scrabbdict/Resources/Dictionaries/*.dawg
DAWGBuilder/RAW/*.zip
